@mixin user-select($type) {
	@each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
		#{$prefix}user-select: $type;
	}
}
// Transform
	@mixin transform($transformation) {
		@each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
			#{$prefix}transform: $transformation;
		}
	}
	@mixin transform-origin($val) {
		@each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
			#{$prefix}transform-origin: $val;
		}
	}
// Gradients
	@mixin radial-gradient($type) {
		@each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
			background: #{$prefix}radial-gradient($type);
		}
	}
	@mixin linear-gradient($type) {
		@each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
			background: #{$prefix}linear-gradient($type);
		}
	}
// Transitions/Animation
	@mixin transition($type) {
		@each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
			#{$prefix}transition: $type;
		}
	}
	@mixin transition-property($type) {
		@each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
			#{$prefix}transition-property: $type;
		}
	}

// Icons
	$icon-path: "./icons/";
    @mixin icon($icon-name, $dropShadow: 0px, $width: 18px, $height: 18px) {
        width: $width;
        height: $height;
        background-image: url("#{$icon-path}#{$icon-name}.svg");
        background-size: contain;
        background-repeat: no-repeat;
		
		filter: drop-shadow( $dropShadow $dropShadow 0px rgba(0, 0, 0, 0.7));
    }

	@mixin rotate($degrees) {
	  -webkit-transform: rotate($degrees);
      -moz-transform: rotate($degrees);
      -ms-transform: rotate($degrees);
      -o-transform: rotate($degrees);
      transform: rotate($degrees);
	}